body{ 
    background-color: black;
} 
.box{
    height: 360px; 
    width: 380px ; 
    background-color: brown;
    margin: 0 auto;
    margin-top: 12%;
} 

.icon{
    font-size: 40px;
    background-color: white;
    height: 50px;
    width: 380px;
    text-align: center;
    color: greenyellow;
}
.icon i{
  
}
form{
    padding: 30px;
    position: relative;
    top: 40px;
}
input[type="text"],
input[type="password"]{

        height: 40px;
        width: 300px;
        padding: 5px;
        font-size: 20px; 
        background-color: rgb(223, 217, 217); 
        border: none; 
        outline: none;
} 
button{ 
    height: 45px;
    width: 310px;
    font-size: 23px;
    border: none;
    cursor: pointer;
    font-family: 'PT Sans Narrow', sans-serif;
}

button:hover{
    background-color: rgb(151, 131, 223);
}

